node_modules
dist
build

# new package dist
/backend
/components
/date
/dom
/events
/hooks
/marked
/queries
/util
/types
/writes
/index.d.ts
/index.js
/index.js.map
/main.d.ts
/main.js
/main.js.map
/debug.json

# testing
components.d.ts
extension.js
